body{
    background:#000000;
  }
  
  .page-sections{
    width: 10%;
    height: 50%;
    position: absolute;
    outline: 1px solid #fff;
  }
  
  #first#main-header{
    position: Relative;
    margin: 50%,50%;
  }
  
  #first:hover{
    margin:0;
  }
  
  #main-header{
    color: #803030;
    font-family:sans-serif;
  }